body {
	text-shadow: 2px 2px pink;
	font-size: 160%;
	text-align: center;
	background-color: #008fb3;
}

button {
	background-color: #555555;
	color: whitesmoke;
	font-size: 20px;
	padding: 7px 20px;
	border-radius: 8px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



